html{
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif;
    background-color: #f9f9f9;
}
body{
    margin: 0px;
}
.nav{
    position: fixed;
    display: flex;
    width: 100%;
    height: 60px;
    padding: 0px 16px;
    top: 0;
    background-color: white;
    opacity: .99
}
.right_sid li{
    padding-bottom: 25px;
}
.right_sid{
    height: 2000px;
    display: flex;
    flex-direction: column;
}
.container{
    
    width: 760px;
    margin-left: 200px;
    margin-top: 90px;  
}
.video{
    display: flex;
    flex-direction: column;
    width:760px;
    left: 250px;
    
}
ul{ 
    display: flex;
    flex-direction: column;
    float: right;
    list-style-type: none;
    margin-left: -40px;
    width: 500px
}
li{
    padding-top: 8px;
}
.search{
    height: 26px;
    width: 575px;
    margin-left: auto;
    margin-right: auto;
    padding: 1px 6px;
    font-size: 16px
}
.searchi{
    position: absolute;
    display: flex;
    left: 400px;
    padding-top: 14px;
    font-size: 10px;
}
.btn_search{
    height: 32px;
    width: 65px;
    padding: 1px 6px;
    color: #F8F8F8;
}
.loop{
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-left: 13px;
    opacity: 60%;
}
.url{
    position: absolute;
    left: 1280px;
    padding-top: 4px;
}
.image{
    width: 40px;
    left: 40px;
    padding: 6px;
    border-radius: 50%;
}

.sidbar{
    padding-top: 14px;
}
#you_logo{
    width: 100px;
    margin-top: 5px;
    margin-left: 10px;
    top: 17px;
    
}
.menu{
    width: 28px;
    top: -15px;
    padding-right: 16px;
}
h1{
    font-size: 18px;
    font-weight: normal;
    color: #0D0D0D;
}
span{
    font-size: 14px;
    color: #606060;
    margin-top: 10px;
}
.top_level_btn{
    display: flex;
    margin-left: 316px;
    
}
.top_level_btn_comm{
    display: flex;
    margin-top: 5px;    
}
.level{
    width: 34px;
    padding: 3px;
    text-decoration: none;
    color: #606060;
}
.level_share{
    width: 20px;
    padding: 3px;
    margin-left: 20px;
    margin-top: 7px;
}
.details{
    display: flex;
    flex-direction: row;
    margin-left: 168px;
    margin-top: -101px;
}
hr{
    width: 750px;
    border-bottom: 1px solid var(--yt-spec-10-percent-layer);
}
.youtube_channle{
    display: flex;
    flex-direction: column;
}
.channel_youtube{
    display: flex;
    flex-direction: row;
}

.profile_pic{
    display: inline-block;
    width: 50px;
    left: 40px;
    padding: 7px;
    border-radius: 50%;

    
}
.info{
    display: flex;
    flex-direction: column;
    margin-top: 15px;

}
.info_comm{
    margin-left: 10px;
    margin-top: 5px;
}
.info_{
    display: flex;
    flex-direction: row;
    margin-top: 15px;

}
.video_dis{
    display: flex;
    flex-direction: row;
}
.subsecrib{
    display: flex;
   margin-left: 350px;
    
}
.sub_num{
    border: 0;
    font-size: 14px;
    color: #606060;
    margin-top: 7px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}
.your_comment{
    display: flex;
    flex-direction: row;
}
h2{
    display: inline-block;
    font-weight: normal;
    margin-top: 15px;
}
.info_name{
    font-size: 14px;
    width: 212px
}
.notifications{
    margin-left: 14px;
    fill: #909090;
    margin-top: 7px
}
.subs{
    border: 0;
    width: 114px;
    height: 36px;
    margin-left: 14px;
    font-size: 14px;
    color: #606060;
    
    
}
.comment{
    top: -120px;
}
p{
    font-size: 14px;
}

.comments{
    width: 800px;
    top: 250px
}
.sort_by{
    text-decoration: none;
    font-size: 14px;
    color: #606060;
}
.comment_pic{
    width: 40px;
    left: 40px;
    padding: 7px;
    border-radius: 50%;

}
.add_comment{
    width: 600px;
    padding-left: 20px;
    background-color: #f9f9f9;
    border-bottom: 2px solid #EDEDED;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.cancel{
    margin-left: 500px;
    margin-top: 5px;
}
.like_comm{
    width: 25px;
    display: block;
}

.img_video{
    width: 168px;
    
}

.title_{
    font-size: 14px;
    color: #000;
    margin-left: 6px;
}
.channel_name{
    font-size: 13px;
    color: #606060;
    margin-top: 44px;
    margin-left: -235px;
}
.channel_views{

    font-size: 13px;
    color: #606060;
    margin-left: -83px;
    margin-top: 60px;
    
}
.next{
    
    width: 320px;
    display: block;
    border-bottom: 1px solid var(--yt-spec-10-percent-layer);
    margin-bottom: 16px;
    margin-top: 43px;
    
}
.sidbar_onClick{
    display: flex;
    flex-direction: row;
    margin-top: -50px;
}
#sid_hr{
    border-top: 1px solid var(--yt-spec-10-percent-layer);
    margin-top: 12px;
    padding-top: 12px;
}
/*    sidbar  */
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #FFFFFF; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 69px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    
}
  
  /* The navigation menu links */
#le {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #0D0D0D;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/*    sidbar  */
