
body{
    font-family: 'Roboto', sans-serif;
    background-color: #f4f5f6;
}
.container{
    max-width: 1310px;
    height: 100%;
    background-color: #fff;
    padding: 0;
}
ul{
    list-style: none;
}
.meteo{
    width: 24px;
}
#signin{
    background-color: #fff;
    color: #f72210;
    border: solid;
    font-size: 18px;
}
.nav-item{
    padding: 0 5px;
    font-size: 19px;
    font-weight: bold;
    height: 23px;
   border-left:  1px solid #d9d9d9;
}
.child{

   border-left: 0;
}
.nav-item a{
    color: #000 !important;
    padding: 0;
}
.nav-item a:hover{
    color: #f72210 !important;
}
.red-nav {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 78px;
    background-color: #f72210;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
}
.title {
    font: bold 16px/16px "Roboto Condensed",sans-serif;
    padding-bottom: 11px;
    color: rgba(3,3,3,.4);
}
.opinion{
    padding-left: 53px;
}

.opinion li{
    position: relative;
    width: 298px;
    margin-left: -39px;
    padding-bottom: 4px;
    border-top: 1px solid #ededed;
    padding-top: 10px;
}
.opinion li:first-child{
    border-top: 0;
}
.rounded-circle{
    position: absolute;
    margin-left: -15px;
    max-width: 63px;
}
.larger-title a{
    font-size: 17px;
    font-weight: bold;
    line-height: 21px;
    color: #000;
}
.larger-title a:hover{
    text-decoration: none;
    color: #f72210;
}
.larger-title{
    margin-left: 57px;
}
.larger-title div{
    margin-top: 4px;
    font-size: 14px;
}
.x-larger-title{
    padding-top: 0;
    margin-top: -18px;
    font-size: 23px;
    font-weight: bold;
    line-height: 27px;
    
}
.x-larger-title a{
    color: #000;
}
.x-larger-title a:hover{
    text-decoration-color: #f72210;
    text-decoration-line: 1px;
}
.s-larger-title{
    padding-top: 9px;
    font-size: 17px;
    font-weight: bold;
    line-height: 27px;
    
}
.r-larger-title{
    width: 227px;
    padding-top: 0px !important;
    font-size: 17px;
    font-weight: bold;
    line-height: 27px;
    margin-left: -6px;
    
}
.r-larger-title a{
    color: #000;
}
.s-larger-title a{
    color: #000;
}
.s-larger-title a:hover{
    text-decoration-color: #f72210;
    text-decoration-line: 1px;
}
p{
    padding-top: 7px; 
    font-size: 15px
}
.category{
    position: relative;
    width: 99px;
    height: 32px;
    font-size: 17px;
    font-weight: bold;
    top: -32px;
    left: 0px;
    background-color: rgba(255,255,255,.9);
}
.category-active{
    position: relative;
    width: 115px;
    height: 24px;
    font-size: 17px;
    font-weight: bold;
    top: -24px;
    left: 0px;
    background-color: #C2D4D7;
}
.category-active a{
    font-size: 13px;
    font-weight: 100;
    margin-left: 4px;
    color: #272727;
    
}
.category-active:hover{
    background-color: #272727;
}
.category-active a:hover{
    color: #C2D4D7;
    text-decoration: none;
    
}
.category a{
    position: absolute;
    top: 4px;
    left: 9px;
    color: #f72210;
}
.mdl-title{
    font-size: 20px;
    color: #272727;
    margin-top: -13px;
}
.mdl-p{
    font-size: 15px;
    color: rgba(39,39,39,.5);
    margin-bottom: 10px;
}
.flexy{
    display: flex;
    padding: 5px 0;
    border-top: 1px solid #ededed;
}
.description{
    padding-left: 14px;
    margin-top: 8px;
}
.auteur{
    position: absolute;
    top: 116px;
    left: -95px;
}
.vs{
    margin-top: 64px;
    margin-left: 131px;
    border-radius: 100%;
    background-color: #000;
    width: 40px;
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-n{
    flex: none;
    display: block;
    width: 29px;
    height: 28px;
    background: center/contain no-repeat #f72210;
    margin-right: 10px;
}
.center-larger-title{
    display: flex;
    justify-content: center;
    padding-top: 9px;
    font-size: 23px;
    font-weight: bold;
    line-height: 27px;
    border-bottom: 1px solid #ededed;
    width: 94%;
    margin: auto;
    padding-bottom: 11px;
}
.post{
    position: relative;
    padding: 10px;
    margin: auto;
}
.issue{
    position: absolute;
    top: 331px;
    left: 8px;
    background-color: #ededed;
    width: 142px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.issue span{
    color: #f72210;
}
.see-all{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    padding: 10px;
    background-color: #f4f5f6;
}
.see-all:hover{
    background-color: rgba(102, 102, 102, 0.24);
}
.see-all a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.culture{
    padding-top: 8px;
}
.culture a{
    color: #f72210;
    font-size:16px;
    font-weight: bold;
    text-decoration: none;
}
.downtime{
    background-color: #f72210;
    color: #fff;
    font-size:16px;
    font-weight: bold;
    padding: 6px;

}
.subscribe{
    position: relative;
    padding-top: 28px;
    padding-left: 20px;
    display: flex;
    width: 820px;
    height: 301px;
    margin-left: auto;
    background-color: #f4f5f6;
}
.membership{
    width: 803px;
    height: 301px;
    padding-left: 78px;
    padding-top: 67px;
}
#SUBSCRIBE{
    border-radius: 0;
    background-color: #f72210;
}
.signup{
    display: flex;
    
    padding-right: 20px;
}
.sign{
    width: 260px;
    height: 301px;
    padding: 30px;
}
.social{
    width: 232px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin: auto;
    margin-right: 0;
    padding: 0;
}
.social i{
    width: 40px;
    height: 40px;
    align-content: space-between;
}
.social li {
    padding-top: 35px;
}
.footer-logos{
    width: 100%;
    padding-top: 14px;
    display: flex;
    flex-direction: row;
    padding: 14px 26px;
    border-bottom: 1px solid #ededed;
}
.menu{
    display: flex;
    flex-wrap: wrap;
}
.menu a{
    text-decoration: none;
    color: #666;
    font-size: 14px;
}
.menu a:hover{

    color: #000;

}
.menu li{
    white-space: nowrap;
    padding:4px 14px;
}
.lable{
    border-left: 1px solid #ededed;
    height: 23px;
    margin-top: auto;
    margin-bottom: auto;
}