body{
    background-color:#edeef2;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
header{
    height: 60px;
    padding: 10px 30px;
    
}
nav{
    padding: 5px 30px;
    display: flex;
    float: right;
    flex-direction: row;
}
nav div{
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    padding: 1px;
    margin-right: 6px;
    color: #4c4c4c;
}
nav div a {
    text-decoration: none;
    color: #0077C5;
}
nav button{
    height: 35px;
    padding: 0 20px;
    color: #fff;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    background-color: #0077C5;
}
p{
    padding: 0;
    margin: 0;
}
.logo{
    height: 35px;
    text-align: center;
}
.logo img{
    width: 140px;
}
.logos{
    width: 363px;
    display: flex;
    flex-direction: row;
    height: 35px;
    margin: 20px auto 0;
    text-align: center;
    list-style: none; 
    font-size: 20px;
}
.logo ul li img{
    width: 23px;
}
.logo ul li a{
    text-decoration: none;
    color:#6c6d71;
    padding: 3px;
}
.main_g{
    height: 570px;
    margin: auto;
    text-align: center;

}
.main{
    width: 330px;
    height: 569px;
    margin: auto;
    padding: 30px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    border: 1px solid #c7c7c7;
    background-color: #fff;
}
h3{
    font-size: 24px;
    font-weight: 300;
    color: #4c4c4c;
    margin: 0;
}
h6{
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding-top: 20px ;
    color: #4c4c4c;
}
.main a {
    display: block;
    font-size: 12px;
    text-decoration: none;
    color: #0077c5;
}
.head{
    padding: 0 0 20px;
}
label{
    display: block;
    text-align: left;
    padding: 0 0 6px;
    font-size: 14px;
    color: #404040;
}
input{
    display: block;
    width: 320px;
    height: 30px;
    margin-top: 2px;
    margin-bottom: 30px;
    border: 1px solid #c1c5c8;
    border-radius: 3px;
    
}
.error{
    width: 320px;
    height: 20px;
    margin: 5px 0;
}
.main p {
    font-size: 10px;
}
.submit{
    width: 100%;
    height: 44px;
    background-color: #0077c5;
    border: 1px solid #0077c5;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
}
.footer_main{
    position: relative;
    top: 17px;
    margin-top: 28px;
    line-height: 1.7;
    color: #757575;
    font-size: 12px;

}
.footer_main a {
    display: inline;
}
.section_footer{
    width: 390px;
    height: 52px;
    background-color: #eceef1;
    margin-left: -30px;
    /* border: 1px solid; */
    margin-bottom: -12px;
    top: 33px;
    position: relative;
}
footer{
    width: 1301px;
    height: 97px;
}
.Privacy{
    position: fixed ;
    bottom: 0px;
    padding: 10px 12px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #323232;
    border-radius: 3px;
    color: #fff;
    background-color: #323232;
}
.fixed_btn{
    width: 184px;
    float: right;
}
footer{
    width: 1301px;
    height: 97px;
    text-align: center;
    margin: 0 72px 0 72px;
    padding: 20px 0;
    font-size: 12px;
    color: #505050;
}
footer ul li {
    
    padding: 5px;
    font-size: 12px;
}
footer ul {
    width: 211px;
    display: flex;
    flex-direction: row;
    height: 35px;
    margin: 2px auto 0;
    text-align: center;
    list-style: none; 
    font-size: 20px;
    font-size: 12px;
}
