*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
/* Start Header */
.container{
    width: 100%;
    height: 100%;
}
.nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
    background-color: #000;
}
nav{
    background-color: rgb(104, 112, 109);
}
.up_nav{
    display: flex;
    flex-direction: row;

    list-style: none;
    
}
.rigth_nav{
    display: flex;
    flex-direction: row;
    width: 17%;
    list-style: none;
    
}
.up_nav li{
    padding-left: 15px;
    text-decoration: none;
    padding-top: 4px;
    color: #fff;
}
.rigth_nav li{
    padding-right: 15px;
    text-decoration: none;
    padding-top: 4px;
    color: #fff;
}
.up_nav a, .rigth_nav a{
    color: hsla(0,0%,100%,.6);
}
a{
    text-decoration: none;
}
.navigation{
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #555;
    background-color: #fff;
}
.navigation li{
    padding-left: 15px;
    padding-top: 10px;
}
.navigation a{
    color: #555;
    font-size: 18px;
}
.target_link{
    width: 100%;
    height: 30px;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 14px;
    color: #000;
    background-color: rgb(255, 221, 51);
}
.ltr{
    float: right !important;
}
/* End Header */

.container {
    width: 100%;
    background-color: rgb(201, 21, 21);
  }
  




  /* media qeury */
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }
  
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
      
    }

    .up_nav{
        height: 32px;
    }
    .navigation{
        height: 48px;
    }

    .nav_bar{
        width: 100%;
    }
  }
  @media (min-width: 1920px){
    .container {
        max-width: 1920px;
        margin: 0 auto;
      }

  }
  
