*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Start Header */
.container{
    width: 100%;
    
}
header{
    height: 113px;
}
.nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
    background-color: #000;
    height: 32px;
}
nav{
    position: fixed;
    z-index: 4;
    width: 100%;
    background-color: rgb(104, 112, 109);
}
.up_nav{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.rigth_nav{
    display: flex;
    flex-direction: row;
    width: 17%;
    list-style: none;
    
}
.up_nav li{
    padding-left: 15px;
    text-decoration: none;
    padding-top: 4px;
    color: #fff;
}
.rigth_nav li{
    padding-right: 15px;
    text-decoration: none;
    padding-top: 4px;
    color: #fff;
}
.up_nav a, .rigth_nav a{
    color: hsla(0,0%,100%,.6);
}
.up_nav a:hover, .rigth_nav a:hover{
    color: hsla(0,0%,100%);
}
a{
    text-decoration: none;
}
.navigation{
    height: 50px;
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #555;
    background-color: #fff;
}
.navigation li{
    padding-left: 15px;
    padding-top: 10px;
}
.navigation a{
    color: #555;
    opacity: .5;
    font-size: 18px;
}
.navigation a:hover{
    opacity: 1;
}
.target_link{
    height: 30px;
    padding-left: 15px;
    padding-top: 6px;
    font-size: 14px;
    color: #000;
    background-color: rgb(255, 221, 51);
}
.search_btn{
    margin-left: auto;
    padding-right: 20px;
}
.search_btn a{
    color: darkgray;
}
.small-nav{
    height: 50px;
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #555;
    background-color: #fff;
}
.small-nav .logos{
    width: 106px;
    background-color: tomato;
}
.small-nav img{
width: 61px;
    margin-left: 20%;
    margin-top: 15%;
}
.search_box{
    display: flex;
    margin-left: auto;
}
.search{
    width: 50px;
    border-left: 1px solid #ededed ;
    /* border-right: 1px solid #ededed ; */
}
.search a{
    margin-left: 35%;
    margin-top: 38%;
    color: #adacac;
}
/* End Header */

.container {
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.cover{
    display: grid;
    grid-template-columns: 1000px 519px;
    
}
.cover-box{
      background-size: cover;
      margin: 5px 8px 0 0;
      height: 96%;
}
article h2 {
        font-size: 28px;
}
.active-box{    
    position: relative;
    height: 518px;
    grid-row: 1/3;
    margin: 3px 8px;
}

.back-img{
    position: absolute;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    height: 411px;
}
.back-img-box{
    position: absolute;
    width: 29.3%;
    height: 28%;
    background-size: cover;
    object-fit: cover;
}

article img, article svg{
      width: 40px;
}
.logo-active img{
    width: 360px;
    padding: 20px;
}
.logo-active{
    display: flex;
}
article {
    display: flex;
    flex-direction: column;
    position: relative;
    background: rgba(0,0,0,.25) url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png) no-repeat;
    background-size: 100% 100%;
    z-index: 2;
    height: 100%;
}
time{
    margin-left: 208px;
}
.disc{
    position: absolute;
    padding: 13px;
}
.auteur{
    margin-top: 104px;
}
.auteur h5{
    font-size: 14px;
}
.auteur h2{
    font-size: 46px;
    padding-bottom: 19px;
}

.disc-left{
    margin-top: 89px;
    position: absolute;
    padding: 13px;
    color: #c7c7c7fc;
}
.disc-left h2{
    padding-bottom: 8px;
}
.disc svg, .disc-left svg{
    width: 16px;
}
.disc a,
.disc-left a{
    color: #fff;
}
.disc span, .disc span a,
.disc-left span, .disc-left span a{
    color: hsla(0,0%,100%,.6);
}
.disc-sm, .disc-md{
    display: flex;
    justify-items: center;
    place-content: space-evenly;
    width: 280px;
}
.latest{
    height:57px;
}
.latest a{
    color: #f42;
    font-size: 28px;
}
section svg{
    width: 16px;
    height: 16px;
    align-items: center;
}
section{
    width: 1152px;
    margin: auto;
    margin-top: 56px;
}
.articles{
    display: grid;
    grid-template-columns: 294px 294px 294px 294px ;
    padding-bottom: 80px;
}
.articles img{
    padding-bottom: 4px;
    width: 270px;
    height: 139px;
    margin: 0;
}
.for_coll .sold{
    position: absolute;
    margin-top: -30px;
    margin-left: -81px;
    width: 81px;
}
.articles h4{
    cursor: pointer;
    width: 270px;
    font-size: 16px;
    color: black;
}
.articles h4:hover{
    color: #ff4422;
}
.articles #auteur, .articles span{
    font-size: 13px;
    color: rgba(95, 95, 95, 0.6);
}
.articles  #auteur:hover{
    color: black;
}
.latest-news{
    padding-bottom: 26px;
}




  /* media qeury */
  @media (max-width: 767px) {
    .container {
    max-width: 100%;
    }

    .target_link{
        height: 60px;
        padding-top: 21px;
    }
    .target_link span{
        margin: 20%;
        font-size: 15px;
    }
    .nav_bar,.navigation{
        display: none;
    }
    .cover{
        grid-template-columns: 70% 30%;
    }
    .active-box{
        height: 411px;
    }
    .logo-active{
        display: none;
    }
    .cover {
        grid-template-columns: 97.8%;
    }
    .active-box, .cover-box,
    .back-img, .back-img-box{
        width: 100%;
        height: 215px;
    }
    .back-img-box{
        padding-right: 25px;
    }
    .active-box{
        margin: 0;
    }
    .auteur, .auteur-left {
        margin-top: 21px;
    }
    .disc h2 a, .disc-left h2 a{
        font-size: 26px;
    }
    .cover{
        padding-left: 11px;
    }
    .disc, .disc-left {
        margin-top: 65px;
    }
    .disc{
        height: 153.28px;
    }
    .auteur h2 {
        font-size: 26px;
        padding-bottom: 8px;
    }

    
    
    
  }
  
  @media (min-width: 768px) {
    .container {
    max-width: 100%;
    }
    .rigth_nav{
        width: 29%;
    }
    .nav_bar,.navigation, .logo-active,
    time, .disc-left span .fa-w-14, 
    .share-num{
        display: none;
    }
    .cover{
        grid-template-columns: 66% 33%;
    }
    .active-box, .back-img{
        height: 518px;
    }
    .back-img-box{
        height: 252px;
    }
    .auteur{
         margin-top: 47%;
    }
    
    .disc-left{
        margin-top: 110px;
        width: 245px;
    }
    .disc-sm {
        width: 224px;
    }
    .disc-md {
        width: 276px;
    }
    .articles {
        grid-template-columns: 247px 247px 247px;
    }
    article h2 {
        font-size: 19px;
    }
    section {
        width: 755px;
        padding: 0 14px;
    }
    .articles img, .articles h4 {
        padding-bottom: 6px;
        width: 231px;
    }
    .back-img-box{
        width: 31.9%;
    }


    

  }
  
  @media (min-width: 1024px) {
    .container {
        max-width: 100%;   
    }
    .rigth_nav{
        width: 22%;
    }
    .small-nav, .display-md{
        display: none;
    }
    .nav_bar,.navigation{
        display: flex;
    }
    .cover{
        grid-template-columns: 70% 30%;
    }
    .auteur{
        margin-top: 302px;
   }
    .disc-left{
        width: auto;
        margin-top: 87px;
    }
    .articles {
        grid-template-columns: 255px 255px 255px 255px;
    }
    .articles img, .articles h4 {
        padding-bottom: 6px;
        width: 235px;
    }
    .latest {
        width: 403px;
    }
    section {
        width: 997px;
    }

    
  }
  
  @media (min-width: 1280px) {
    .container {
      max-width: 100%;
    }
    .rigth_nav{
        width: 18%;
    }
    
    .up_nav{
        height: 32px;
    }
    .nav_bar{
        width: 100%;
    }
    .small-nav{
        display: none;
    }
    .cover{
        grid-template-columns: 70% 30%;
    }
    .display-md{
        display: inline;
    }
    .auteur h2 {
        font-size: 56px;
    }
    .articles{
        grid-template-columns: 294px 294px 294px 294px ;
    }
    .articles img, .articles h4 {
        padding-bottom: 6px;
        width: 270px;
    }
    section {
        width: 1152px;
    }
    


  }
  @media (min-width: 1920px){
    .container {
        max-width: 1920px;
        margin: 0 auto;
      }
      .small-nav{
        display: none;
    }
    .back-img-box {
        width: 568px;
    }
     

  }
  .active{
    color: #fff !important;
    
}

