*{
    padding: 0;
    margin: 0;
}
/* Start Header */
nav{
    width: 900px ;
    height: 300px;

}
.up_nav{
    display: flex;
    flex-direction: row;
    background-color: #131313;
}
.up_nav li{
    padding-left: 14px;
    text-decoration: none;
}
.navigation{
    display: flex;
    flex-direction: row;
    background-color: #555555;
}

/* End Header */


/* Mobile & Tablet */
@media (max-width: 767px){

}
/* Mobile & Tablet */
@media (min-width: 768px){

}
/* Medium Screen */
@media (min-width: 992px){

}
/* Large Screen */
@media (min-width: 1200px){

}
