.col-1 {
  width: 7.14286%;
}

.col-2 {
  width: 14.28571%;
}

.col-3 {
  width: 21.42857%;
}

.col-4 {
  width: 28.57143%;
}

.col-5 {
  width: 35.71429%;
}

.col-6 {
  width: 42.85714%;
}

.col-7 {
  width: 50%;
}

.col-8 {
  width: 57.14286%;
}

.col-9 {
  width: 64.28571%;
}

.col-10 {
  width: 71.42857%;
}

.col-11 {
  width: 78.57143%;
}

.col-12 {
  width: 85.71429%;
}

.col-13 {
  width: 92.85714%;
}

.col-14 {
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Norse";
  font-weight: regular;
  src: url("font/norse.regular.otf") format("opentype");
}

@font-face {
  font-family: "Norse";
  font-weight: bold;
  src: url("font/norse.bold.otf") format("opentype");
}

html {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #fff;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  text-align: center;
}

.introduction p, .works p, .details p, .gradient .row .col-7 .stories p {
  font-size: 1.125rem;
  letter-spacing: 0.2px;
  line-height: 1.88;
  font-weight: 500;
  color: rgba(74, 74, 74, 0.7);
}

.works h2, .details h5 {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.3px;
}

ul {
  list-style: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav h3 {
  font-family: Norse;
  font-weight: bold;
  font-size: 32px;
  color: #ce973e;
  padding-left: 14px;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto;
}

.nav ul li {
  padding: 0 8px;
}

.nav ul li a {
  font-size: 1em;
  font-weight: bold;
  color: rgba(74, 74, 74, 0.7);
  text-decoration: none;
}

.nav ul li a:hover {
  font-size: 1em;
  font-weight: bold;
  color: #4a4a4a;
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding-top: 72px;
}

.introduction .intro {
  font-size: 36px;
  font-weight: 200;
  color: #ce973e;
  padding-top: 2em;
}

.introduction .view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  width: 280px;
  height: 56px;
  background-color: #6abfc3;
  border: none;
  border-radius: .2em;
  -webkit-box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
  margin: 69px auto;
}

.introduction .view:hover {
  background-color: #7ecbcf;
}

.introduction .view a {
  text-decoration: none;
}

.introduction .view h4 {
  color: #fff;
}

.works {
  width: 41%;
  padding: 5em 0;
}

.Learn {
  padding: 2em 0;
}

.Learn .col-4 div, .Learn .col-7 div {
  -webkit-box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 2em;
  margin: 29px 25px 37px 25px;
}

.Learn img {
  width: 160px;
}

.backgColor {
  background-color: #f3f3f3;
}

.gradient {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background-image: linear-gradient(to bottom, #fff, #eee);
}

.gradient h2 {
  padding: 2em 0;
}

.gradient .row .col-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.gradient .row .col-7 img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-top: 1.5em;
}

.gradient .row .col-7 .stories {
  text-align: initial;
  padding: 0 1em;
}

.gradient .row .col-7 .stories a {
  text-decoration: none;
}

.gradient .row .col-7 .stories h4 {
  font-size: 18px;
  color: #ce973e;
}

a {
  text-decoration: none;
}

footer {
  padding: 6em 0;
}

footer h3 {
  padding-left: 1em;
  padding-top: .5em;
}

footer .col-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .col-4 .right, footer .col-4 .left {
  margin-top: 0;
  margin-right: 0;
  margin-left: auto;
}

footer .col-4 .right li, footer .col-4 .left li {
  padding-bottom: .5em;
  text-align: left;
}

footer .col-4 .right li a, footer .col-4 .left li a {
  font-size: 16px;
  color: rgba(74, 74, 74, 0.7);
  font-weight: bold;
}

footer .col-4 .right li a:hover, footer .col-4 .left li a:hover {
  color: #4a4a4a;
}

footer .col-5 a, footer .link ul {
  color: #ce973e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .col-5 a li, footer .link ul li {
  padding: 0 2em;
}

footer .col-5 a li i, footer .link ul li i {
  color: #ce973e;
}

.bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.bars i {
  color: #6abfc3;
  margin: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 137px;
  margin-right: 0;
}

@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
  .row {
    max-width: 540px;
    margin: 0 auto;
  }
  .nav {
    height: 64px;
  }
  .nav ul {
    display: none;
  }
  .nav h3 {
    font-size: 21px;
  }
  .works {
    width: 84%;
  }
  .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80% !important;
  }
  .details .col-4 {
    width: 100%;
  }
  .Learn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80% !important;
  }
  .Learn .col-4 {
    width: 100%;
  }
  .gradient {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100% !important;
  }
  .gradient .col-7 {
    width: 100%;
    padding-left: 1em;
  }
  footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .row .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100% !important;
    padding: 0 17%;
    padding-top: 36px;
  }
  footer .row .menu .right, footer .row .menu .left {
    margin: 0 4px;
  }
  .footerLogos {
    display: none;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
  .row {
    max-width: 540px;
    margin: 0 auto;
  }
  .nav {
    height: 64px;
  }
  .nav ul {
    display: none;
  }
  .nav h3 {
    font-size: 21px;
  }
  .works {
    width: 84%;
  }
  .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80% !important;
  }
  .details .col-4 {
    width: 100%;
  }
  .Learn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80% !important;
  }
  .Learn .col-4 {
    width: 100%;
  }
  .gradient {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100% !important;
  }
  .gradient .col-7 {
    width: 100%;
    padding-left: 1em;
  }
  footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .row .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100% !important;
    padding: 0 17%;
    padding-top: 36px;
  }
  footer .row .menu .right, footer .row .menu .left {
    margin: 0 4px;
  }
  .footerLogos {
    display: none;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
  .row {
    max-width: 720px;
    margin: 0 auto;
  }
  .nav {
    height: 64px;
  }
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    white-space: pre;
  }
  .bars {
    display: none;
  }
  .works {
    width: 84%;
  }
  .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .details .col-4 {
    width: 28.57143%;
  }
  .Learn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 49.57143%;
  }
  .Learn .col-1 {
    display: none;
  }
  .Learn .col-4 {
    width: 49.57143%;
  }
  .gradient {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100% !important;
  }
  .gradient .col-7 {
    width: 100%;
    padding-left: 1em;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }
  .row {
    max-width: 960px;
    margin: 0 auto;
  }
  .Learn, .col-4 {
    width: 28.57143%;
  }
  .gradient .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100% !important;
  }
  .gradient .row .col-7 {
    width: 50%;
    padding-left: 0;
  }
  footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .row .col-4 {
    width: 28.57143% !important;
    padding: 0;
    padding-left: 3em;
  }
  footer .row .col-4 .right, footer .row .col-4 .left {
    margin: 0 4px;
  }
  .footerLogos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
  .row {
    max-width: 1140px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */