$mainFontFamily: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$mainBackgroundColor: #ededed;
$mainSecondaryBackground: #f3f3f3;
$mainSuccessColor: #ce973e;
$mainPrimaryColor: #4a4a4a;
$mainSecondaryColor: rgba(74,74,74,0.7);
$maxWidth: 100%;
$gridnum: 14;


@for $i from 1 through $gridnum {
    .col-#{$i}{
        width: (100% / ($gridnum / $i));
    }
}

* {
    box-sizing: border-box;
  }
  @font-face {
    font-family: "Norse";
    font-weight: regular;
    src: url("font/norse.regular.otf") format("opentype");
}
  @font-face {
    font-family: "Norse";
    font-weight: bold;
    src: url("font/norse.bold.otf") format("opentype");
}
  
  html {
    font-family: $mainFontFamily;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  body{
      background-color: #fff;
  }
  .container {
    width: $maxWidth;
    // padding-right: 15px;
    // padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .row {
    width: $maxWidth;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    // custom 
    text-align: center;
  }

  %paragraph{
    font-size: 1.125rem;
    letter-spacing: 0.2px;
    line-height: 1.88;
    font-weight: 500;
    color: $mainSecondaryColor;

  }
  %bold{
    font-size: 1.5rem ;
    font-weight: bold;
    letter-spacing: 0.3px;
}
  ul{
    list-style: none;
  }
  .nav{
      display: flex;
        h3{
            font-family: Norse;
            font-weight: bold;
            font-size: 32px;
            color: $mainSuccessColor;
            padding-left: 14px;
        }
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 0 0 auto;
            li{
                padding: 0 8px;
                a{
                    font-size: 1em;
                    font-weight: bold;
                    color: $mainSecondaryColor;
                    text-decoration: none;
                    &:hover{
                        font-size: 1em;
                        font-weight: bold;
                        color: $mainPrimaryColor;
                    }
                }
            }
            
        }
      
    }
    .introduction{
        display: flex;
        text-align: center;
        padding-top: 72px;
        .intro{
            font-size: 36px;
            font-weight: 200;
            color: $mainSuccessColor;
            padding-top: 2em;
        }
        p{  
            @extend %paragraph
        }
        .view{
            display: flex;
            justify-content: center;
            justify-items: center;
            width: 280px;
            height: 56px;
            background-color:#6abfc3;
            border: none;
            border-radius: .2em;
            box-shadow: 0 0.05em 0.25em 0 rgba(0,0,0,0.5);
            margin: 69px auto;
            &:hover{
                background-color: #7ecbcf ;
            }
            a{
              text-decoration: none;
            }
            h4{  
              color: #fff;
            }
        }
    }
    .works{
        width: 41%;
        padding: 5em 0;
        h2{
          @extend %bold;
        }
        p{
          @extend %paragraph;
        }
    }
    .details{
      h5{
        @extend %bold;
      }
      p{
        @extend %paragraph;
      }
    }
    .Learn{
      padding: 2em 0;
      .col-4 div, .col-7 div{
        box-shadow: 0 7px 16px 0 rgba(0,0,0,0.05);
        background-color: #fff;
        padding: 2em;
        margin: 29px 25px 37px 25px;
      }
      img{
        width: 160px;
      } 
    }
  .backgColor{
    background-color: $mainSecondaryBackground ;
  }
  .gradient{
    text-align: center;
    background-image: linear-gradient(to bottom, #fff, #eee);
    h2{
      padding: 2em 0;
    }
    .row .col-7{
      display: flex;
      flex-direction: row;
      img{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-top: 1.5em;
      }
      .stories{
        text-align: initial;
        padding: 0 1em;
        a{
          text-decoration: none;
        }
        h4{
          font-size: 18px;
          color: $mainSuccessColor;
          
        }
        p{
          @extend %paragraph;
        }
      }

    }
  }
  a{
    text-decoration: none;
  }
  footer{
    padding: 6em 0;
    h3{
      padding-left: 1em;
      padding-top: .5em;
    }
    .col-4 {
      display: flex;
      flex-direction: row;
      .right, .left{
        margin-top: 0;
        margin-right: 0;
        margin-left: auto;
        
        li{
          
          padding-bottom: .5em;
          text-align: left;
          
           a{
            font-size: 16px;
            color: rgba(74,74,74,0.7);
            font-weight: bold;
            &:hover{
              color: $mainPrimaryColor;
            }
          }
        }
      }
    }
    .col-5 a, .link ul{
      color: $mainSuccessColor;
      display: flex;
      flex-direction: row;
      li{
        padding: 0 2em;
        i{
          color: $mainSuccessColor;
        }
      }
    }
  }
    
  
  
// Start media query 
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px){
    .container {
        max-width: 100%;
      }
    .row {
        max-width: 540px;
        margin: 0 auto;
      }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px){
    .container {
        max-width: 100%;
      }
    .row {
        max-width: 720px;
        margin: 0 auto;
      }
}
// large devices (desktops, 992px and up)
@media (min-width: 992px){
    .container {
        max-width: 100%;
      }
    .row {
        max-width: 960px;
        margin: 0 auto;
      }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){
    .container {
        max-width: 100%;
      }
    .row {
        max-width: 1140px;
        margin: 0 auto;
      }
}
