@import url(//db.onlinewebfonts.com/c/415c1cffdc1ffdf955cdd328ad4a4c87?family=Cheltenham);
@font-face {font-family: "Cheltenham"; src: url("//db.onlinewebfonts.com/t/415c1cffdc1ffdf955cdd328ad4a4c87.eot"); src: url("//db.onlinewebfonts.com/t/415c1cffdc1ffdf955cdd328ad4a4c87.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/415c1cffdc1ffdf955cdd328ad4a4c87.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/415c1cffdc1ffdf955cdd328ad4a4c87.woff") format("woff"), url("//db.onlinewebfonts.com/t/415c1cffdc1ffdf955cdd328ad4a4c87.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/415c1cffdc1ffdf955cdd328ad4a4c87.svg#Cheltenham") format("svg"); }

*{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
header{
    width: 100%;
    height: 42px;
    position: fixed;
    padding: 4px 15px;
    top: 0;
    border-bottom: 1px solid #ededed;
    background-color: #fff;
}
nav{
    display: flex;
    flex-wrap: wrap;
}
nav .right_nav{
    position: absolute;
    width: 214px;
    right: 50px;
    padding-top: 9px;
}
.right_nav svg {
    width: 14px;
    padding-top: 2px;
}
.subscribe{
    height: 30px;
    padding-right: 6px;
    padding: 11px 12px 8px;
    border: 1px solid #326891;
    border-radius: 3px;
    background-color:#326891 ;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.account {
    border: 0;
    background-color: #fff;
    color: #121212;
    padding-right: 6px;
    font-size: 12px;
    cursor: pointer;
}

.left_nav {
    position: absolute;
    width: 270px;
    padding-top: 9px;
}
.left_nav svg{
    width: 16px;
    padding-right: 17px;
}
.left_nav a{
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.logo{
    width: 195px;
    position: absolute;
    margin: auto;
    left: 42%;
    padding-top: 9px;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    /* background-color: yellow; */
}
article{
    width: 1200px;
    font-weight: bold;
    /* background-color: yellowgreen; */
}
.figcaption{
    width: 419px;
    height: 94px;
    font-weight: bold;
    padding-top: 100px;
    font-family: Cheltenham;
    font-size: 40px;
    font-style: italic;
    margin-left: 323px;
    padding-bottom: 26px;
}
figure img{
    width: 1200px;
    height: 675px;
}
.fig{
    display: inline-block;
    width: 850px;
    margin-top: 6px;
    
    
}
.fig span{
    font-size: 15px;
    color: #666666;
    font-weight: normal;
}
.auteurs{
    width: 1200px;
    display: flex;
    justify-content: center;
    margin-top: 56px;
    /* background-color: crimson; */
}
.auteurs_2{
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 56px;
    /* background-color: crimson; */
}
.auteur{
    width: 600px;
    /* height: 300px; */
    color: #333333;
    font-size: 15px;
    font-weight: bold;
    /* background-color: cornflowerblue; */
}
.The_Theory{
    width: 74%;
    margin: auto;
    /* background-color: aliceblue;     */
}
.The_Theory p{
    font-size: 14px;
    font-weight: normal;
    color: #666;
}
.The_Theory img{
    margin-top: 14px;
}
.grid-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 213px 228px 246px 246px;
    background-image: url(https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png);
    background-size: cover;
}
.grid-item{
    width: 204px;
    margin-top: 136px;
    font-size: 14px;
    font-weight: 100;
}
#hr_{
    width: 60px;
    content: '';
    display: inline-block;
    height: 1px;
    margin: 46px 0 13px;
    background-color: #000
}

.auteur a {
    text-decoration: none;
    color: #333333;
    font-family: "Cheltenham";  
}
#date{
    font-size: 14px;
    font-weight: initial;
    font-family: "Cheltenham";
}

.auteur_detail{
    margin-top: 25px;
}
.social_media{
    list-style: none;
    display: flex;
    flex-direction: row;
    float: right;
}
.social_media li{
    margin-right: 16px;
    text-align: center;
    background-color: #EEE;
    border: 1px #eee solid;
    border-radius: 100%;
    padding: 5px;
    width: 15px;
    height: 15px;
}
.dialog p{
    margin-top: 24px;
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.875rem;
    color: #333;
}
.dialog p a {
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.875rem;
    color: #326891;
}
.free_articles{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.free_articles a{
    font-size: 15px;
    font-weight: bold;
    color: #326891;

}
#p_inline{
    display: inline; font-size: 13px; color: #888;
}
#p_inline a {
    font-size: 13px; color: #888;    line-height: 1;
}
.more_in_space{
    width: 1200px;
    margin-top: 45px;
    padding-top: 20px;
    /* background-color: lawngreen; */
}
.more_in_spaces{
    display: flex;

}
.most_popular{
    width: 1200px;
    margin-top: -19px;
    /* background-color: yellow; */
}
.most_popular div{
    width: 318px;
    height: 37px;
    border-top: 1px solid rgb(226, 226, 226);
    padding: 15px 0px;

}
.most_popular div h3 a{
    font-size: 19px;
    color: #121212;
    font-weight: lighter;
}
.more_in_space div a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
}
.grid-container_img{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 290px 290px 290px;
}
.grid-item_img{
    width: 204px;
    margin-top: 136px;
    font-size: 14px;
    font-weight: 100;
    margin-top: 29px;
}
.grid-item_img img{
    width: 272px;
    height: 181px;
}
.grid-item_img h3{
    width: 262px;
    display: inline-block;
    font-size: 18px;
    color: #121212;
    font-weight: bolder ;
}
.grid-item_img span{
    float: right;
    /* display: block; */
    margin-right: -56px;
    font-size: 10px;
    color: #999;
}
.grid-item_img p{
    font-size: 12px;
    color: #999;
    margin-top: 8px;
}
.footer{
    width: 1200px;
    margin: auto;
    /* background-color: yellowgreen; */
}
.head_footer{
    display: flex;
    height: 58px;
}
.logo_footer{
    width: 195px;
    left: 42%;
    padding-top: 9px;
}
.logo_footer a{
    margin-left: 915px;
    margin-top: 30px;
    font-size: 11px;
    text-decoration: none;
    color: #567b95;
}
.grid-container_footer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 176px 179px 223px 205px 235px 233px;
}
.head_footer a{
    margin-left: 890px;
    margin-top: 10px;
    font-size: 11px;
    color: #567b95;
}
.grid-item_footer ul li{
    list-style: none;
    font-size: 13px;
    color: #333333;
    font-weight: bolder;
    padding-top: 4px;
    margin-bottom: 7px;
}
.grid-item_footer ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #000;
    font-weight: 10;
    font-family: Arial, Helvetica, sans-serif;
}
.grid-item_footer ul li a svg{
    width: 13px;
    margin-right: 7px;
}
.inline_footer ul {
    display: flex;
    flex-direction: row;
    margin-top: 13px;
    margin-left: 103px;
}
.inline_footer ul li{
    margin-left: 14px;
}
.inline_footer ul li a{
    font-size: 11px;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    width: 100%;
    height: 55px;
    margin-left: -160px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: rgb(51, 51, 51);
}
footer a{
    margin-top: 14px;
    text-decoration: none;
    font-size: 24px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}